<% provide(:title, "Help") %>
<div class="row clearfix">
		<div class="col-md-6 column">
			<h2>
				Livros
			</h2>
			<p>
				Fique por dentro do melhor da literatura, filmes, música, séries, HQs, games em um só lugar.
				Fique por dentro do melhor da literatura, filmes, música, séries, HQs, games em um só lugar.
			</p>
			<p>
				<a><%= link_to "Ver Livros",   livro_path %></li></a>
			</p>
		</div>
		<div class="col-md-6 column">
			<h2>
				Livros
			</h2>
			<p>
				Fique por dentro do melhor da literatura, filmes, música, séries, HQs, games em um só lugar.
				Fique por dentro do melhor da literatura, filmes, música, séries, HQs, games em um só lugar.
			</p>
			<p>
				<a><%= link_to "Ver Livros",   livro_path %></li></a>
			</p>
		</div>
	</div>