<div class="navbar navbar-default" role="navigation">
  <div style="margin:20px; padding-left:90px; padding-right:90px;">
<br>
<p align="right">
<%= link_to 'Back', leituras_path %></p>
<h1><%=t :cleitura %></h1>
<br>
<%= render 'form' %>

</div>
</div>
