<% provide(:title, "Livros") %>
<div class="navbar navbar-default" role="navigation">
  <div style="margin:20px; padding-left:90px; padding-right:90px;">
<br>
<h1 align="center"><%=t :livros %></h1>
<br>
  <div id="livrosvisao">
      <ul id="produtos">
         <% @livros.each do |livro| %>
         <li id="produtosli">
            <%= image_tag livro.picture,
            :alt => "Descricao img",
            :id => "id_img",
            :width => "200px",
            :height => "300px" %>
              <h3><%= livro.titulo %></h3>
              <p><%= link_to 'Ver Sobre', livro %></p>
          </li>
           <% end %>
      </ul>
  
  </div>
<br>
</div>
</div>

<style>
    /* livros */
#livrosvisao{
  margin:0;
  width: 100%;
}

#produtos{
    clear: both;
  	list-style: outside none;
  	margin: 0 0 14px;
  	padding: 0;
  	position: relative;
}

#produtosli{
  	  float: left;
      height: 320px;
      margin: 0 60px 100px 0;
      padding: 0 0 60px;
      position: relative;
      text-align: center;
      width: 176px;
  	}
</style>
