 <footer class="footer">
   <hr>
    <small>
     	<b>Objetivo:</b>	Projeto em Ruby and Rails<br>
        <b>Descrição:</b>	Projeto para disciplina RAD - 2015.1<br>
     	<b>Equipe:</b>	Natacha Targino, Jaqueline Fernandes
    </small>
    <nav>
      <ul>
		<li>
			Mapa do Site
		</li>
      	<ul>
        	<li><%= link_to "Home", root_path %></li>
    			<li><%= link_to "Livro", livros_path %></li>
    			<li><%= link_to "Contato", contact_path %></li>
    			<li><%= link_to "Help", help_path %></li>
    	  </ul>
  		</ul>
    </nav>
  </footer>